<div id="mydiv" *ngIf="dormProducts && selectedDorm">
  
<p>Im Wohnheim {{ selectedDorm.name }} kannst du folgendes ausleihen:</p>
  <div *ngFor="let product of dormProducts">
    <a routerLink="/product-details/{{ product.id }}">{{product.title}}</a>
    <div *ngIf="(imagesLoaded | async) && productImagesMap.get(product.id) !== undefined" class="circular--landscape" >
      <img [src]="productImagesMap.get(product.id)" alt="Product Picture"
        *ngIf="productImagesMap.get(product.id)">
    </div>
  </div>
</div>
