// https://www.webfx.com/blog/web-design/circular-images-css/
.circular--landscape {
    display: inline-block;
    position: relative;
    margin: 0.4rem;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .circular--landscape img {
    width: 100%;
    // height: auto;
    // margin-left: -25px;
   
      height: 15vh;
      object-fit: cover;
      
  }

  