<div class="messageContainer"
    [ngClass]="{'isOwnMessageContainer':isOwnMessage}">  <!-- if the logged in user is the sender of this message then isOwnMessage = true and the class .isOwnMessageContainer will be applied additionally to .messageContainer-->
    <div class="messageData"
        [ngClass]="{'isOwnMessageData':isOwnMessage}">
        <span class="sender"
            [ngClass]="{'isOwnSender':isOwnMessage}">
            Von: {{ chatMessage.sender.name }}
        </span>
        <span class="sender isOwnSender" *ngIf="isOwnMessage">      <!-- if we are not the sender of the message, we display the sender's email address. -->
            {{ chatMessage.sender.email }}
        </span>
        <span class="sender"
            [ngClass]="{'isOwnSender':isOwnMessage}">
            An: {{ chatMessage.receiver.name }}
        </span>
        <span class="sender" *ngIf="!isOwnMessage">      <!-- if we are not the sender of the message, we display the sender's email address. -->
            {{ chatMessage.receiver.email }}
        </span>
        <span class="timestamp" 
            [ngClass] = "{'isOwnTimestamp':isOwnMessage}">
            gesendet am: {{ sendetAt |  date:'dd/MM/yyyy h:mm' }}
        </span>
            <span class="timestamp" 
            [ngClass] = "{'isOwnTimestamp':isOwnMessage}" >
            empfangen am: {{ receivedAt |  date:'dd/MM/yyyy h:mm' }}
        </span>
    
        
    </div>
    <div class="messageContent"
        [ngClass]="{'isOwnMessageContent':isOwnMessage}">
        {{ messageContent }}
    </div>
</div>