<div class="row justify-content-md-center">
    <div class="col">
        <h1>Users</h1>
    </div>
    <div class="col-md-auto">
      </div>
    <div class="col col-lg-2">
        <button class="btn btn-dark">
            <a routerLink="/add-user">
              Add User
            </a>
          </button>
    </div>
</div>


<ul [@listStagger]="users$">  <!--listStagger ist eine spezielle Animation, bei der die Liste nicht auf einmal dargestellt wird, sondern zeitlich verzögert auftaucht-->
    <li *ngFor="let user of users$"> <!-- for Schleife über alle geladenen User -->
        <a routerLink="/details/{{ user.id }}">{{user.name}}</a>  <!-- wenn der username angeklickt wird, wird man weitergeleitet per routerLink zur details component.-->
        <ul>
            <li>{{ user.email }}</li>
            <li><a href="http://{{ user.website }}"></a>{{ user.website }}</li>
        </ul>
        <!-- <div class="row">
            <div class="col">
                <button class="btn btn-danger">Click Me</button>
            </div>
            <div class="col">
                <button class="btn btn-info">Click Me</button>
            </div>
        </div> -->
    </li>
</ul>