<div *ngIf="currentUser.dormId === null">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col">
                <div *ngIf="!isLoggedIn" style="display: inline-block">
                    <h1>Benutzer in deinem Wohnheim: Bitte einloggen oder registrieren</h1>
                </div>
                <div *ngIf="isLoggedIn" style="display: inline-block">
                    <h1 class="display-3">Benutzer in deinem Wohnheim: </h1>
                    <hr class="my-2" />
                    <h3>Du hast noch kein Wohnheim. Andere Benutzer können erst angezeigt werden, sobald dein Wohnheim bestätigt wurde.</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="currentUser && dorms">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col">
                <div *ngIf="!isLoggedIn" style="display: inline-block" >
                    <h1>Benutzer in deinem Wohnheim: Bitte einloggen oder registrieren</h1>
                </div>
                <div *ngIf="isLoggedIn" style="display: inline-block" >
                    <h1>Benutzer im Wohnheim {{ dorms[currentUser.dormId - 1].name }}:</h1>
                </div>
            </div>
        </div>
        <hr class="my-2" />

        <div *ngIf="!isLoggedIn">
            <app-login-registration-accordion (isLoggedIn)="loginSuccessfullInChildComp($event)"></app-login-registration-accordion>
          </div>
          
        <div *ngIf="isLoggedIn">
            <div class="row justify-content-center ">
                <div class="col">
    
                    <div *ngIf="dataLoaded | async">
                        <ul [@listStagger]="users">
                            <!-- <ul [@listStagger]="users" class=" row "> -->
                            <!-- uncomment this to make many cards appear in one row.-->
                            <!--listStagger ist eine spezielle Animation, bei der die Liste nicht auf einmal dargestellt wird, sondern zeitlich verzögert auftaucht-->
                            <div *ngFor="let user of users">
                                <!-- next we will filter out all users from other dorms and the currentUser himself, so that we only see the other users from the same dorm.-->
                                <div class="row ">
                                    <div class="col">
                                        <div>
                                            <div *ngIf="user.dormId == currentUser.dormId"
                                                style="text-align:center">
                                                <li class="shadow">
                                                    <a routerLink="/details/{{ user.id }}">
                                                        <!-- for Schleife über alle geladenen User - startet erst, wenn alle user geladen sind: async: https://malcoded.com/posts/angular-async-pipe/ -->
    
                                                        <p>{{user.name}}</p>
                                                        <!-- wenn der username angeklickt wird, wird man weitergeleitet per routerLink zur details component.-->
    
                                                        <!-- loads the user image. If no image is available, a default pic gets shown -->
                                                        <img [src]="userImagesMap.get(user.id)" class="images userPic"
                                                            alt="User Profile Picture"
                                                            *ngIf="userImagesMap.get(user.id); else noImageFound">
                                                        <ng-template #noImageFound>
                                                            <img src="../../../../assets/images/noImage.JPG" alt="Fallbackimage">
                                                        </ng-template>
                                                        <br>
                                                        <br>
                                                        <div *ngIf="user.products.length > 0">
                                                            <p style="color: black; font-weight: normal; font-size: 14px;
                                                                    text-decoration: none;">Bietet
                                                                {{ user.products.length }} Produkte an:
                                                            </p>
                                                            <div *ngFor="let product of user.products; let i = index">
                                                                <p *ngIf="i < 2" style="color: black; font-weight: normal; font-size: 14px;
                                                                            text-decoration: none;">{{ product.title }}</p>
                                                                <p *ngIf="i == 2" style="color: black; font-weight: normal; font-size: 14px;
                                                                            text-decoration: none;">...</p>
                                                            </div>
                                                        </div>
    
    
                                                    </a>
    
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </ul>
                    </div>
    
                </div>
            </div>
        </div>
        

    </div>




</div>