.gm-style-iw{
    height: 500px !important;
    overflow: hidden !important;
}

.info-window-content {
    height: 500px !important;
    overflow: hidden !important;
}

inline {
    display: inline;
}

// div { 
//   border: 1px solid;
// }

// h1 {
//   border: 1px solid black;
// }