// .gm-style-iw{
//     height: 500px !important;
//     overflow: hidden !important;
// }

// .info-window-content {
//     height: 500px !important;
//     overflow: hidden !important;
// }


.inline {
    display: inline-block;
}

// https://stackoverflow.com/questions/63248426/angular-material-changing-background-color-of-optiongroup-doesnt-work/63289353#63289353
.mat-optgroup{ 
  background-color: rgb(0, 168, 255, 0.2); 
  display: block
} 


// .mat-option{ 
   
//   background-color:  rgb(0, 168, 255, 0.5) !important; 
// }

// .mat-optgroup{ 
//   width:2000px !important; 
//   background-color: red !important; 
//   font-size: 10px !important; } 

// .row {
//     border: 1px solid red;
//   }
//   .col {
//     border: 1px solid #000;
//   }

  @media (max-width: 768px) {
      .showHide  { display: none; }
  }
  

  @media (max-width: 567px) {
    .break-text {
        max-width: 100px;
    }

    .resizeMatSelect {
      min-width: 130px;
      align-items: left;
    }
  }

  @media (max-width: 767px) {
    .break-text {
        max-width: 100px;
    }

    .resizeMatSelect {
      min-width: 200px;
      align-items: right;
      
      // position: relative;
      // left: -1rem;
      // max-width: 100px;
    }
  }

  @media (max-width: 480px) {
    .wider-on-small {
      min-width: 85vw;
    }
    
  }
  

// div { 
//   border: 1px solid;
// }

// h1 {
//   border: 1px solid black;
// }
