<div class="container">
    <div class="row " >
        <div class="col break-text" style="min-width: 200px; padding-top: 0.4rem; position: relative; left: -1rem;" >
            <h1 >Bitte wähle dein Wohnheim aus:</h1>
        </div>
        
            <div class="row" >
                <div class="col-sm " style="min-width: 200px; ">
                    <mat-form-field appearance="fill" >
                        <mat-label style="font-weight: 600; font-size: 1rem; ">Stadt</mat-label>
                        <mat-select [formControl]="cityControl" (selectionChange)="changeSelectedCity($event)">
                            <mat-option style="background-color: rgb(0, 168, 255, 0.5);"
                                *ngFor="let city of allCities" [value]="city">
                                {{city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm " style="min-width: 200px;">
                    <mat-form-field appearance="fill">
                        <mat-label style="font-weight: 600; font-size: 1rem">Wohnheim</mat-label>
                        <mat-select  [formControl]="dormControl" (selectionChange)="changeSelectedDorm($event)">
                            <mat-optgroup  *ngFor="let group of dormGroups"
                                [label]="group.name" [disabled]="group.disabled">
                                <mat-option style="background-color: rgb(0, 168, 255, 0.3);" *ngFor="let dorms of group.dorms"
                                    [value]="dorms.name">
                                    {{dorms.name}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    </div>


<!-- <hr class="my-2" /> -->
<!-- <div class="col-md-auto">
                <label>
                    <mat-slider min="1" max="22" step="1" [value]="currZoom" thumbLabel tickInterval="1"
                        (input)="onInputChange($event)"></mat-slider>
                </label>
            </div> -->


<div class="row shadow" >
    <div class="col" style="padding: 0px;">
        <!-- loads the google maps and centers it at Stuttgart (lat = 48, lng = 9) -->
        <div *ngIf="selectedDorm == null" >
           
            <agm-map [latitude]=dormsToShow[0].lat [longitude]=dormsToShow[0].lng [fitBounds]="true" >
                <div *ngFor="let dorm of dormsToShow">
                    <agm-marker [latitude]="dorm.lat" [longitude]="dorm.lng"
                        (markerClick)="markerClicked(dorm, infoWindow)" [agmFitBounds]="true">
                        <!-- <div *ngIf="productImagesMap"> -->

                        <agm-info-window #infoWindow>
                            <app-info-window-product-overview [selectedDorm]=selectedDorm
                                [usersFromSelectedDorm]=usersFromSelectedDorm [dormProducts]=dormProducts
                                [productImagesMap]=productImagesMap></app-info-window-product-overview>
                        </agm-info-window>

                        <!-- </div> -->
                        <!-- <agm-snazzy-info-window [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
                                [isOpen]="isSnazzyInfoWindowOpened" [maxWidth]="100" [shadow]="true" padding="12px"
                                backgroundColor="#fff" fontSize="12px" fontColor="#757575" wrapperClass="customClass"
                                [showCloseButton]="false" [panOnOpen]="false">
                                <ng-template>
                                    <div>{{dorm.name}}</div>
                                </ng-template>
                            </agm-snazzy-info-window> -->
                    </agm-marker>
                </div>

            </agm-map>

        </div>
        <div *ngIf="selectedDorm != null">
            <agm-map [latitude]=selectedDorm.lat [longitude]=selectedDorm.lng [zoom]="currZoom">
                <agm-marker [latitude]="selectedDorm.lat" [longitude]="selectedDorm.lng"
                    (markerClick)="markerClicked(selectedDorm, infoWindow)">
                    <!-- <div *ngIf="productImagesMap"> -->

                    <agm-info-window #infoWindow>
                        <app-info-window-product-overview [selectedDorm]=clickedMarker
                            [usersFromSelectedDorm]=usersFromSelectedDorm [dormProducts]=dormProducts
                            [productImagesMap]=productImagesMap></app-info-window-product-overview>
                    </agm-info-window>

                    <!-- </div> -->
                    <!-- <agm-snazzy-info-window [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
                                [isOpen]="isSnazzyInfoWindowOpened" [latitude]="selectedDorm.lat"
                                [longitude]="selectedDorm.lng" [maxWidth]="100" [shadow]="true" padding="12px"
                                backgroundColor="#fff" fontSize="12px" fontColor="#757575" wrapperClass="customClass"
                                [showCloseButton]="false" [panOnOpen]="false">
                                <ng-template>
                                    <div>{{selectedDorm.name}}</div>
                                </ng-template>
                            </agm-snazzy-info-window> -->
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>
</div>