.gm-style-iw{
    height: 500px !important;
    overflow: hidden !important;
}

.info-window-content {
    height: 500px !important;
    overflow: hidden !important;
}

.inline {
    display: inline-block;
}

// .row {
//     border: 1px solid #000;
//   }
//   .col {
//     border: 1px solid #000;
//   }

  @media (max-width: 575px) {
    .break-text {
        max-width: 100px;
    }
  }

  

// div { 
//   border: 1px solid;
// }

// h1 {
//   border: 1px solid black;
// }