<div >
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Standort</h1>
                <hr class="my-2" />
            </div>
            <div class="col-md-auto">
                <label>
                    <mat-slider min="1" max="22" step="1" [value]="currZoom" thumbLabel tickInterval="1"
                        (input)="onInputChange($event)"></mat-slider>
                </label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <h2>Bitte wähl deine City aus:</h2>
            </div>
            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Stadt</mat-label>
                    <mat-select [formControl]="cityControl">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let group of dormGroups" [label]="group.name"
                            [disabled]="group.disabled">
                            <mat-option *ngFor="let dorm of group.dorm" [value]="dorm.city" >
                                {{dorm.city}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <h2>Bitte wähl dein Wohnheim aus:</h2>
            </div>
            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Wohnheim</mat-label>
                    <mat-select [formControl]="dormControl" (selectionChange)="changeSelectedDorm2($event)">
                        <mat-optgroup *ngFor="let group of dormGroups" [label]="group.name"
                            [disabled]="group.disabled">
                            <mat-option *ngFor="let dorm of group.dorm" [value]="dorm.name" >
                                {{dorm.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- loads the google maps and centers it at Stuttgart (lat = 48, lng = 9) -->
                <agm-map [latitude]=selectedDorm.lat [longitude]=selectedDorm.lng [zoom]="currZoom">
                    <agm-marker 
                    [latitude]="selectedDorm.lat"
                    [longitude]="selectedDorm.lng"
                    (markerClick)="markerClicked(selectedDorm)">
                    <agm-snazzy-info-window [closeWhenOthersOpen]="true" [closeOnMapClick]="true" [isOpen]="isSnazzyInfoWindowOpened" [latitude]="selectedDorm.lat" [longitude]="selectedDorm.lng" [maxWidth]="100" [shadow]="true" padding="12px" backgroundColor="#fff"  fontSize="12px"  fontColor="#757575"  wrapperClass="customClass"  [showCloseButton]="false" [panOnOpen]="false">
                        <ng-template>
                        <div>{{selectedDorm.name}}</div>
                        </ng-template>
                        </agm-snazzy-info-window>
                </agm-marker>
                   
                    
                </agm-map>
            </div>
        </div>
    </div>
</div>