<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Standort</h1>
                <hr class="my-2" />
            </div>
            <div class="col-md-auto">
                <label>
                    <mat-slider min="1" max="22" step="1" [value]="currZoom" thumbLabel tickInterval="1"
                        (input)="onInputChange($event)"></mat-slider>
                </label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <h2>Bitte wähl deine City aus:</h2>
            </div>
            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Stadt</mat-label>
                    <mat-select [formControl]="cityControl">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let group of dormGroups" [label]="group.name"
                            [disabled]="group.disabled">
                            <mat-option *ngFor="let dorm of group.dorm" [value]="dorm.city" >
                                {{dorm.city}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <h2>Bitte wähl dein Wohnheim aus:</h2>
            </div>
            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Stadt</mat-label>
                    <mat-select [formControl]="cityControl" (selectionChange)="changeSelectedCity($event)">
                        <mat-option *ngFor="let city of allCities" [value]="city">
                            {{city}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Wohnheim</mat-label>
                    <mat-select [formControl]="dormControl" (selectionChange)="changeSelectedDorm($event)">
                        <mat-optgroup *ngFor="let group of dormGroups" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let dorms of group.dorms" [value]="dorms.name">
                                {{dorms.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- loads the google maps and centers it at Stuttgart (lat = 48, lng = 9) -->
                <div *ngIf="selectedDorm == null">
                    <agm-map [latitude]=dormsToShow[0].lat [longitude]=dormsToShow[0].lng [fitBounds]="true">
                        <div *ngFor="let dorm of dormsToShow">
                            <agm-marker [latitude]="dorm.lat" [longitude]="dorm.lng"
                            (markerClick)="markerClicked(dorm)" [agmFitBounds]="true">
                            <agm-info-window #infowindow [maxWidth]="480" >
                                <app-info-window-product-overview [selectedDorm]=selectedDorm [usersFromSelectedDorm]=usersFromSelectedDorm [dormProducts]=dormProducts [productImagesMap]=productImagesMap></app-info-window-product-overview>
                              </agm-info-window>
                            
                            <agm-snazzy-info-window [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
                                [isOpen]="isSnazzyInfoWindowOpened" [maxWidth]="100" [shadow]="true" padding="12px"
                                backgroundColor="#fff" fontSize="12px" fontColor="#757575" wrapperClass="customClass"
                                [showCloseButton]="false" [panOnOpen]="false">
                                <ng-template>
                                    <div>{{dorm.name}}</div>
                                </ng-template>
                            </agm-snazzy-info-window>
                        </agm-marker>
                        </div>
                        
                    </agm-map>
                </div>
                <div *ngIf="selectedDorm != null">
                    <agm-map [latitude]=selectedDorm.lat [longitude]=selectedDorm.lng [zoom]="currZoom">
                        <agm-marker [latitude]="selectedDorm.lat" [longitude]="selectedDorm.lng"
                            (markerClick)="markerClicked(selectedDorm)">
                            <agm-info-window #infowindow [maxWidth]="480" >
                                <app-info-window-product-overview [selectedDorm]=selectedDorm [usersFromSelectedDorm]=usersFromSelectedDorm [dormProducts]=dormProducts [productImagesMap]=productImagesMap ></app-info-window-product-overview>
                              </agm-info-window>
                              
                            <agm-snazzy-info-window [closeWhenOthersOpen]="true" [closeOnMapClick]="true"
                                [isOpen]="isSnazzyInfoWindowOpened" [latitude]="selectedDorm.lat"
                                [longitude]="selectedDorm.lng" [maxWidth]="100" [shadow]="true" padding="12px"
                                backgroundColor="#fff" fontSize="12px" fontColor="#757575" wrapperClass="customClass"
                                [showCloseButton]="false" [panOnOpen]="false">
                                <ng-template>
                                    <div>{{selectedDorm.name}}</div>
                                </ng-template>
                            </agm-snazzy-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>