<div class="container">
    <mat-accordion>
    <div class="row">
        <div class="col user-container">
            
<mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
      <mat-panel-title style="text-align: center; display: block;
      margin-left: auto;
      margin-right: auto;">
        Login
      </mat-panel-title>
    </mat-expansion-panel-header>
<app-user-login></app-user-login>

</mat-expansion-panel>
        </div>
    </div>
<br>
<div class="row">
    <div class="col user-container">
<mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title style="text-align: center; display: block;
      margin-left: auto;
      margin-right: auto;">
        Registrieren
      </mat-panel-title>
    </mat-expansion-panel-header>
<app-add-user></app-add-user>
</mat-expansion-panel>
</div>
</div>
</mat-accordion>
    
    </div>
