<div class="container" style=" align-items: center; text-align: center;   width: 100vw ">

  <div *ngIf="!isLoggedIn">
    <app-login-registration-accordion (isLoggedIn)="loginSuccessfullInChildComp($event)"></app-login-registration-accordion>
  </div>

  <div *ngIf="isLoggedIn" style="  align-items: center; width: 350px ">
    <h1>Du bist eingelogged!!! </h1>
    <img src="../../../assets/images/loggedin.gif" style="border: 5px solid pink" />
    <br>
    <button style="margin: 20px;"  id="addDorm" type="button" (click)="logout()" mdbBtn color="secondary" class="waves-light"
      cmdbWavesEffect>Logout</button>
  </div>

</div>