<form [formGroup]="addForm" (ngSubmit)="onFormSubmit()">

  <div class="form-group">
    <label for="name">Benutzername*:</label>
    <input required type="text" formControlName="name" placeholder="Benutzername" name="Name" class="form-control"
      id="name" [ngClass]="{'is-invalid': name.errors && (name.touched || name.dirty), 'is-valid':name.valid}">
    <small *ngIf="name.invalid && (name.touched || name.dirty)" class="text-danger">Bitte einen Namen eingeben.</small>
  </div>

  <div class="form-group">
    <label for="email">Email*:</label>
    <input required formControlName="email" placeholder="email@gmail.com" name="Email" class="form-control" id="email"
      [ngClass]="{'is-invalid': email.errors && (email.touched || email.dirty), 'is-valid': email.valid}">
    <small *ngIf="email.errors?.required && (email.touched || email.dirty)" class="text-danger">Bitte eine Email Adresse
      eingeben.</small>
    <small *ngIf="email.errors?.pattern && (email.touched || email.dirty)" class="text-danger">Bitte eine gültige Email
      Adresse eingeben.</small>
  </div>
  <div class="form-group">
    <label for="password">Passwort*:</label>
    <input required type="text" formControlName="password" placeholder="1234" name="password" class="form-control"
      id="password"
      [ngClass]="{'is-invalid': password.errors && (password.touched || password.dirty), 'is-valid':password.valid}">
    <small *ngIf="password.invalid && (password.touched || password.dirty)" class="text-danger">Bitte ein Passwort
      eingeben.</small>
  </div>

  <label>Bitte wähle dein Wohnheim aus: </label>

  <mat-form-field appearance="fill">
    <mat-label style="font-weight: 600; font-size: 1rem">Stadt</mat-label>
    <mat-select formControlName="city" (selectionChange)="changeSelectedCity($event)">
      <mat-option style="background-color: rgb(0, 168, 255, 0.5);" *ngFor="let city of allCities" [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label style="font-weight: 600; font-size: 1rem">Wohnheim</mat-label>
    <mat-select required formControlName="dorm" (selectionChange)="changeSelectedDorm($event)">
      <mat-optgroup *ngFor="let group of dormGroups" [label]="group.name" [disabled]="group.disabled">
        <mat-option style="background-color: rgb(0, 168, 255, 0.3);" *ngFor="let dorms of group.dorms"
          [value]="dorms.name">
          {{dorms.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-error *ngIf="dorm.hasError('required')">Du musst ein Wohnheim auswählen.</mat-error>
  </mat-form-field>

  <br>
  
  <app-upload-file [isUserPic]=true (selectedFile)="onFileSelected($event)"></app-upload-file>
  <!-- when a file gets selected in the upload-file component, we will get that as an output emitted into the product-details component-->

  <br>

  <div *ngIf="showAddDorm">
    <app-add-dorm></app-add-dorm>
  </div>

  <br>
  <div *ngIf="!showAddDorm">
    <button id="addDorm" type="button" (click)="addDorm()" mdbBtn color="secondary" class="waves-light"
      cmdbWavesEffect>Wohnheim hinzufügen</button>
  </div>

  <div *ngIf="showAddDorm">
    <button id="addDorm" type="button" (click)="cancelAddDorm()" mdbBtn color="secondary" class="waves-light"
      cmdbWavesEffect>Doch nicht</button>
  </div>

  <br><br>

  <button type="submit" class="btn btn-success" [disabled]="!addForm.valid">Registrieren</button>

  <button type="button" class="btn btn-danger"><a routerLink="/users">Abbrechen</a></button>


</form>