@media (min-width: 768px) {
nav {
  background: #2d2e2e;
  height: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: #fff;
        padding: 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;
      }
    }

   /*  li:hover {
      background-color: #00a8ff;
      color: white;
    } */
  }
}
}

.custom-tooltip {
  font-size:1rem;
    //  color: white !important;
    border-radius: 10px !important;
}

@media (max-width: 768px) {
  nav {
    background: #2d2e2e;
    height: 100%;
    border: 1px solid red;
    margin: 0 auto;
    
  
    ul {
      list-style-type: none;
      text-align:middle;
          vertical-align: middle;
          text-align: center;
          horizontal-align: middle;
          border: 2px solid green;
          height: 70px;
          width: 70px;
          margin: 0 auto;
          
         
  
      li {
        text-align:left;
          vertical-align: left;
          horizontal-align: middle;
          border: 1px solid yellow;
          margin: 0 auto;
          
        a {
          color: #fff;
          height: 100%;
          padding: 23.5px;
          border: 1px solid white;
          text-align:left;
          vertical-align: middle;
          horizontal-align: middle;
          display: inline-flex;
  justify-content: center;
          
  // align-items: ;
  // flex: 0 0 10px;
        }
  
        .activated {
          background-color: #00a8ff;
        }
      }
  
     /*  li:hover {
        background-color: #00a8ff;
        color: white;
      } */
    }
  }
  
}