<!-- erstellt die Sidebar (ähnlich zur Navbar)-->
<nav>
    <ul style="display:inline; float: inline-start;">
      <li style="display:inline; float: inline-start;">
        <a routerLink="user-login" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
        matTooltip="Login" matTooltipPosition="right" matTooltipClass="custom-tooltip">
          <i class="material-icons">lock_open</i>
        </a>
      </li>
      <li>
        <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
        matTooltip="Home" matTooltipPosition="right" matTooltipClass="custom-tooltip">
          <i class="material-icons">house</i>
        </a>
      </li>
      <li>
        <a routerLink="add-product" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
        matTooltip="Produkt verleihen" matTooltipPosition="right" matTooltipClass="custom-tooltip">
          <i class="material-icons">outdoor_grill</i>
        </a>
      </li>
      <li>
        <a routerLink="users" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
        matTooltip="Benutzer in deinem Wohnheim" matTooltipPosition="right" matTooltipClass="custom-tooltip">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
      <li>
        <a routerLink="messages" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
        matTooltip="Nachrichten" matTooltipPosition="right" matTooltipClass="custom-tooltip">
          <i class="material-icons">chat</i>
        </a>
      </li>
    </ul>
  </nav>