// this part works and can not be changed anymore!!!
@media (min-width: 768px) {
  #container {
      display: grid;
      grid-template-columns: 70px auto;
      height: 100%;
      
   
      #content {
          padding: 30px 50px;
   
          ul {
              list-style-type: none;
              margin:0;padding:0;
          
              li {
                  background: #fff;
                  border-radius: 8px;
                  padding: 20px;
                  margin-bottom: 8px;
          
                  a {
                      font-size: 1.5em;
                      text-decoration: none;
                      font-weight: bold;
                      color: var(--mainBlue);
                  }
          
                  ul {
                      margin-top: 20px;
                      
                      li {
                          padding:0;
          
                          a {
                              font-size: 1em;
                              font-weight: 300;
                          }
                      }
                  }
              }
          }
      }
   }
}



@media (max-width: 767px) {
  // #container {
  //     display: grid;
  //     grid-template-rows: 70px auto;
      // height: 100%;
      
      
      // #content {
      //     padding: 30px 50px;
   nav >
          ul {
              list-style-type: none;
              // margin:0;padding:0;
               display: inline ;
              // width: 100%;
              // height: 100%;
              
          
              li {
                 
                  display: inline ;  
          
                 
          
                  // ul {
                  //     // margin-top: 20px;
                      
                  //     li {
                  //         // padding:0;
          
                  //         a {
                  //             // font-size: 1em;
                  //             // font-weight: 300;
                  //         }
                  //     }
                  // }
              }
          // }
      }
   } 
// }


@media (min-width: 770px) {
  .parent {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    // border: 2px solid pink;
    // width: 100vw !important;
//     position:absolute !important;
// left:0 !important;
// right:0 !important;
  }

nav {
  background: var(--mainBlack);
  height: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: #fff;
        padding: 23px;
        display: block;
      }

      .activated {
        background-color: var(--mainBlue);
      }
    }

   /*  li:hover {
      background-color: #00a8ff;
      color: white;
    } */
  }
}
}

.custom-tooltip {
  font-size:1rem;
    //  color: white !important;
    border-radius: 10px !important;
}

@media ( max-width: 769px) {
// @media (min-width: 410px, max-width: 768px) {
  .parent {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    // border: 2px solid pink;
    // width: 100vw !important;
//     position:absolute !important;
// left:0 !important;
// right:0 !important;
  }

  // .child {
  //   width: 100vw !important;
  //   display: flex;
  //   justify-content: center;
  // }

  nav {
    background: var(--mainBlack);
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    margin: 0 auto;
    text-align: center;
  
  
    ul {
      position:relative; 
      left:-1.3rem;  
      list-style-type: none;
      // text-align:middle;
      //     vertical-align: middle;
      //     text-align: center;
      //     horizontal-align: middle;
          // border: 2px solid green;
          // height: 70px;
          // width: 70px;
          // margin: 0 auto;
          
         
  
      li {
        text-align:left;
          vertical-align: left;
          horizontal-align: middle;
          // border: 1px solid yellow;
          margin: 0 auto;
          
        a {
          color: var(--mainWhite);
          height: 100%;
          padding: 23.5px;
          // border: 1px solid white;
          text-align:left;
          vertical-align: middle;
          horizontal-align: middle;
          display: inline-flex;
  justify-content: center;
          
  // align-items: ;
  // flex: 0 0 10px;
        }
  
        .activated {
          background-color: var(--mainBlue);
        }
      }
  
     /*  li:hover {
        background-color: #00a8ff;
        color: white;
      } */
    }
  }
  
}