<!-- erstellt die Sidebar (ähnlich zur Navbar)-->
<nav>
    <ul>
      <li>
        <a routerLink="user-login" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
          <i class="material-icons">lock_open</i>
        </a>
      </li>
      <li>
        <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
      <li>
        <a routerLink="products" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
          <i class="material-icons">message</i>
        </a>
      </li>
      <li>
        <a routerLink="upload-userPic" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
          <i class="material-icons">publish</i>
        </a>
      </li>
      <li>
        <a routerLink="google-maps" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
          <i class="material-icons">room</i>
        </a>
      </li>
    </ul>
  </nav>