<div class="container">

  <div class="row">
    <div class="col" *ngIf="isLoggedIn">
      <h1 class="display-3" >Nachrichten</h1>
    </div>
    <div class="col" *ngIf="!isLoggedIn">
      <h1 class="display-3" >Nachrichten: Bitte einloggen oder registrieren</h1>
    </div>

  </div>

  <hr class="my-2" />

  <div *ngIf="!isLoggedIn">
    <mat-accordion>
      <div class="row">
          <div class="col user-container">
              
  <mat-expansion-panel [expanded]="true" >
      <mat-expansion-panel-header>
        <mat-panel-title style="text-align: center; display: block;
        margin-left: auto;
        margin-right: auto;">
          Login
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-user-login (isLoggedIn)="loginButtonClickedInChildComp($event)"></app-user-login>
      
  </mat-expansion-panel>
          </div>
      </div>
  <br>
  <div class="row">
      <div class="col user-container">
  <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title style="text-align: center; display: block;
        margin-left: auto;
        margin-right: auto;">
          Registrieren
        </mat-panel-title>
      </mat-expansion-panel-header>
  <app-add-user></app-add-user>
  </mat-expansion-panel>
  </div>
  </div>
  </mat-accordion>
  </div>

  <div *ngIf="isLoggedIn && userHasChats | async">
    <ul [@listStagger]="chats">
      <li *ngFor="let chat of chats; let i = index" class="shadow">
        <ul>
          <li>
            <div class="row">
              <div class="col-2">
                <a routerLink="/chat/{{ chat.id }}">
                  <div
                    matTooltip="Von {{ chat.messages[(chat.messages.length - 1)].sender.name }} an {{  chat.messages[(chat.messages.length - 1)].receiver.name }}"
                    matTooltipPosition="above" matTooltipClass="custom-tooltip">
                    {{  chat.messages[(chat.messages.length - 1)].subject }}
                  </div>
                </a>
              </div>

              <div class="col-4">
                <a routerLink="/chat/{{ chat.id }}">
                  <div>
                    {{  chat.messages[(chat.messages.length - 1)].text }}
                  </div>
                </a>
              </div>

              <div class="col">
                <button type="button" (click)="deleteChat(chat.id)" class="btn btn-danger">
                  Delete
                </button>
              </div>
            </div>
          </li>

        </ul>


      </li>
    </ul>
  </div>

  <div *ngIf="userHasNoChats | async">
    <h3>{{ noChatsYet }}</h3>
  </div>
</div>