<div class="jumbotron" style="background-color: rgb(250, 241, 241);">
    <div class="container">
       <div class="row">
        <div class="col">
          <h1 class="display-3">Nachrichten</h1>
        </div>
        
      </div>
  
      <hr class="my-2" />
      <div class="row justify-content-md-center">
        <div class="col"></div>
        <div class="col-md-auto"></div>
        <div class="col col-lg-2"></div>
      </div>
      <div >
        <ul [@listStagger]="messages">
          <li *ngFor="let message of messages; let i = index">
            <ul>
              <div class="row">
                <div class="col"></div>
                <div class="col"></div>
              </div>
              <li>
                <div class="row">
                  <div class="col-2" >
                    <a routerLink="/message-details/{{ message.id }}"
                    matTooltip="Von {{ message.sender.name }} an {{ message.receiver.name }}" matTooltipPosition="above" matTooltipClass="custom-tooltip">
                      <div >
                        {{ message.subject }}
                      </div>
                    </a>
                    
                  </div>

                  <div class="col-4" >
                      <div >
                        {{ message.text }}
                      </div>
                    
                    
                  </div>
                 
                  <div class="col">
                    <button type="button" (click)="deleteMessage(message.id)" class="btn btn-danger">
                      Delete
                    </button>
                  </div>
                </div>
              </li>
            </ul>
  
          
          </li>
        </ul>
      </div> 