<h1 mat-dialog-title>Profilbild bearbeiten:</h1>
<div mat-dialog-content>
    <app-upload-file [isUserPic]=true (selectedFile)="onFileSelected($event)"></app-upload-file>
</div>




<!-- 
<div class="modal fade" id="changeProfilePicModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    
    <div class="modal-content">
        <div mat-dialog-content>
          <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Profilbild bearbeiten:</h5>
               <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
          </div>
        </div>
<div mat-dialog-actions>
          <div class="modal-footer">
               <button mdbBtn type="button" size="md" color="primary" class="waves-light"
                    mdbWavesEffect data-dismiss="modal">Abbrechen</button>
               <button mdbBtn type="button" color="danger" size="md" class="waves-light"
                    mdbWavesEffect 
                    data-dismiss="modal">Löschen</button>
          </div>
     </div>
</div>
</div>
</div> -->