<nav class="navbar navbar-expand-lg navbar-mainbg">
    <div class="btn">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>  
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li >
                <a routerLink="user-login" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
                matTooltip="Login" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                  <i class="material-icons">lock_open</i>
                </a>
              </li>
              <li>
                <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
                matTooltip="Home" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                  <i class="material-icons">house</i>
                </a>
              </li>
              <li>
                <a routerLink="add-product" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
                matTooltip="Produkt verleihen" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                  <i class="material-icons">outdoor_grill</i>
                </a>
              </li>
              <li>
                <a routerLink="users" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
                matTooltip="Benutzer in deinem Wohnheim" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                  <i class="material-icons">supervised_user_circle</i>
                </a>
              </li>
              <li>
                <a routerLink="messages" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"
                matTooltip="Nachrichten" matTooltipPosition="right" matTooltipClass="custom-tooltip">
                  <i class="material-icons">chat</i>
                </a>
              </li>
        </ul>
    </div>
</nav>