// html, body, #main {
//     font-size: 16px;
//     width: 100%;
//     height: 100%;
//     background:-webkit-linear-gradient(-45deg,  #a9e4f7 0%,#0fb4e7 100%);
//   }
//   #main{
   
//     overflow: auto;
//     box-sizing: border-box;
//     padding-top:2rem;
//   }
  
//   .navbar{
//     background-color:#222;
//     border:1px solid grey;
//     z-index: 1;
//    position:absolute;
//     top:50%;
//     left:50%;
//     transform:translate(-50%,-50%);
//     box-shadow: 1px 1px 5px rgba(0,0,0,.5);
//   }
  
//   .navbar-default .navbar-nav > li > a{
//     color:#fff;
//     padding:15px 15px;
//     outline:none;
//   }
  
//   .navbar-nav>li>.dropdown-menu {
//     border-radius:6px;
//   }
  
//   .navbar-default .navbar-nav > li > a:hover{
//     color:#121212;
//     background-color:#fff;
//   }
  
//   .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
//       color: #fff;
//       background-color: #000;
  
//   }
  
//   .dropdown-menu>li>a:hover {
//       color: #c9c3c3;
//       text-decoration: none;
//       background-color: #121212;
//   }
  
//   .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
//       color: #fff;
//       background-color: #d71919;
//   }
  
//   .dropdown-menu>li>a {
//       color: #000;
//   }
  
//   @media screen and (max-width:768px) and (min-width:100px) {
    
//     .main{
//       width:25%;
//     }
//    .navbar-default .navbar-nav > li > a {
//       color: #fff;
//       outline: none;
//      overflow:hidden;
//   }
//     .navbar {
//     overflow:hidden;
//       width:25%;
//   }
//     .navbar ul li{
//       position:relative;
//     }
//       .navbar ul li a{
//         margin-left: 15px;
        
//       }
//       .navbar ul li:active {
//      color:green;
//       }
    
    
//     .navbar-nav .open .dropdown-menu {
//       position: static;
//       float: none;
//       width: auto;
//       margin-top: 0;
//       background-color: transparent;
//       border: 0;
//       -webkit-box-shadow: none;
//       box-shadow: none;
//   }
    
//   .navbar-nav .open .dropdown-menu>li:hover a{
      
//       background-color: transparent;
//     margin-left:18px;
//     color:#fff !important;
    
//   }
//     .navbar-nav .open .dropdown-menu>li:hover:before{
//       font:normal normal normal 14px/1 FontAwesome;
//       content:'\f054';
//        width:10px;
//       height:10px;
//       position:absolute;
//       left:18%;
//       top:46%;
//       transform:translate(-50%,-50%);
//       color:#e14444;
   
      
//     }
    
    
//     .navbar-default .navbar-nav .open .dropdown-menu>li>a {
//       color: #e14444;
//   }
//   }
  

* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #2d2e2e;
	padding: 0px;
}
// .btn {
// 	float: right;
// 	margin-left:auto; margin-right:0;
// }
.navbar-toggler {
	padding: 20px;
	// margin: 0 300px 0 0;
	font-size: 30px;
	// margin-left:auto; margin-right:0;
}
#navbarSupportedContent{
	overflow: visible;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #2d2e2e;
	// background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}





	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
