
    <div class="row justify-content-md-center">
        <div class="col">
            <h1>Products</h1>
        </div>
        <div class="col-md-auto">
          </div>
        <div class="col col-lg-2">
            <a routerLink="" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}">
                <i class="material-icons">add</i>
              </a> 
        </div>
    </div>


<ul>
    <li *ngFor="let product of products">
        <a routerLink="/details/1">{{ product.name }}</a>  <!-- wenn der username angeklickt wird, wird man weitergeleitet per routerLink zur details component.-->
        <ul>
            <li>{{ product.name }}</li>
            <li>{{ product.price }}</li>
        </ul>
    </li>
</ul>

