.line{
  width: 112px;
  height: 1px;
  border-bottom: 1px solid black;
  position: absolute;
  }
// div { 
//   border: 1px solid;
// }

// h1 {
//   border: 1px solid black;
// }

h3 {
  margin-top: 1rem;
  // border: 1px solid black;
}

.title {
  border-bottom: 1px solid #dedede;
}

.wrapper {
  margin: 6rem;
  height: 20px;
  overflow: hidden;
}

h1 {
  // border-bottom: 8px solid #57c4d0;
  position: absolute; /* As I've said, adding this allowed me to do so, but the result was far from ideal! */
}

.wrapper img {
  //  border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
}


.inline {
  display: inline;
}

.fixImageSize {
    max-width: 200px;
    max-height: 200px;
}

// button:hover {
//   background-color: #00a8ff;
// }

a{
    text-decoration:none;  // without this the text in the card gets underlined when we hover over it (because its a link)
}

.blocktext {
  margin-left: 1rem;
  margin-right: 4rem;
  width: 14em;
}

.example-card {
  width: 16rem;
  height: 33rem;
}

.example-header-image {
  
  background-size: cover;
}

.cardTitle {
  height: 4rem;
  font-size: 1.5rem;
  font-style: bold;
  
}

.cardSubTitle {
  height: 2rem;
  font-size: 1rem;font-style: italic;
}

.cardImage {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 8rem;
}

.cardContent {
  height: 7rem;
  hyphens: auto;
  text-align: justify;
}

.cardActions {
  height: 4rem;
}

.divider{
  width:1rem;
  height:auto;
  display:inline-block;
}

.btn {
  height: 3rem;
  font-size: medium;
}

.tab1cards {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 16px;
  text-align: center;
  margin: 10px;
//   box-shadow: -12px -12px 12px 0 rgba(255,255,255, 1);
//   box-shadow: 12px 12px 12px 0 rgba(0,0,0, 0.3);

  
//   background-image: linear-gradient(
//     135deg,
//     white, 
//     rgb(208, 250, 249),
//     white
//      );
//   background-size: 400%;
//   background-position: left;
//   transition: background-position 0.5s;
  
}

// make the cards change color on hover: https://www.youtube.com/watch?v=f3mwKLXpOLk
.card:hover,
.card:focus {
  background-position: right;
}

