.fixImageSize {
    max-width: 200px;
    max-height: 200px;
}

button:hover {
  background-color: #00a8ff;
}

a{
    color: white;
}

.blocktext {
  margin-left: 1rem;
  margin-right: 4rem;
  width: 14em;
}