.line{
  width: 112px;
  height: 1px;
  border-bottom: 1px solid var(--mainBlack);
  position: absolute;
  }


h3 {
  margin-top: 1rem;
  // border: 1px solid black;
}



.wrapper {
  margin: 6rem;
  height: 20px;
  overflow: hidden;
}

h1 {
  // border-bottom: 8px solid #57c4d0;
  position: absolute; /* As I've said, adding this allowed me to do so, but the result was far from ideal! */
}

.wrapper img {
  //  border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
}


.inline {
  display: inline;
}

.fixImageSize {
    max-width: 200px;
    max-height: 200px;
}

// button:hover {
//   background-color: #00a8ff;
// }

a{
    text-decoration:none;  // without this the text in the card gets underlined when we hover over it (because its a link)
}

.blocktext {
  margin-left: 1rem;
  margin-right: 4rem;
  width: 14em;
}

.example-card {
  width: 16rem;
  height: 33rem;
}

.example-header-image {
  
  background-size: cover;
}

.cardText {
  height: 2rem;
  font-weight:300;
  // text-decoration: none solid rgb(0, 0, 0);
  font-size: 1.5rem;
  color: var(--mainBlack);
}

.cardTitle {
    max-width:14ch !important;  // 1ch equals the width of one "0", so about the average of a char in that font and font-size.
    word-wrap:break-word !important;
    padding-left: -0.5rem;
}

// .priceTitle {
//     padding-right: 0rem;
// }

.imagePaddingLeft {
  padding-left: 0.8rem;
}

.imagePaddingRight {
  padding-right: 4.1rem !important;
}

.cardSubTitle {
  height: 2rem;
  font-size: 1rem;
  font-style: italic;
}

.product {
  // height: 200px; 
  // width: 315px;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  
  //  border: 3.5px solid rgb(0, 168, 255, 0.5); 
    //  box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
  }

  // .dormProduct {
  //   height: 17rem;
  // }

  // .otherProduct {
  //   height: 20rem;
  // }
  
  .cardImage {
    // height: 200px; 
    // width: 315px;
    border-radius: 15px 15px 15px 15px;
    //  border: 3.5px solid rgb(0, 168, 255, 0.5); 
      //  box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
    }

// @media (min-width: 992px) {
// .product {
// // height: 200px; 
// // width: 315px;
// border-radius: 15px 15px 15px 15px;
// padding: 10px;
// height: 18rem;
// //  border: 3.5px solid rgb(0, 168, 255, 0.5); 
//   //  box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
// }

// .cardImage {
//   // height: 200px; 
//   // width: 315px;
//   border-radius: 15px 15px 15px 15px;
//   //  border: 3.5px solid rgb(0, 168, 255, 0.5); 
//     //  box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
//   }
// }

// // div {
// //   border: 1px solid black;
// // }
// @media (max-width: 991px) {
//   .cardImage {
//     // height: 200px; 
//     // width: 100%;
//     border-radius: 15px 15px 15px 15px;
//      border: 3.5px solid rgb(0, 168, 255, 0.5); 
//        box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
//     }
// }

// @media (max-width: 857px) {
//   .cardImage {
//     // height: 200px; 
//     // width: 100%;
//     border-radius: 15px 15px 15px 15px;
//      border: 3.5px solid rgb(0, 168, 255, 0.5); 
//        box-shadow: 4px 4px 4px 0 rgba(0,0,0, 0.3);
//     }
// }

.cardContent {
  height: 7rem;
  hyphens: auto;
  text-align: justify;
}

.cardActions {
  height: 4rem;
}

.divider{
  width:1rem;
  height:auto;
  display:inline-block;
}

.btn {
  height: 3rem;
  font-size: medium;
}

.tab1cards {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 16px;
  text-align: center;
  margin: 10px;
  opacity: 1;
  background-color:rgb(0,0,0,0);
  border: 0px;
  shadow: 0px 0px;
//   box-shadow: -12px -12px 12px 0 rgba(255,255,255, 1);
//   box-shadow: 12px 12px 12px 0 rgba(0,0,0, 0.3);

  
//   background-image: linear-gradient(
//     135deg,
//     white, 
//     rgb(208, 250, 249),
//     white
//      );
//   background-size: 400%;
//   background-position: left;
//   transition: background-position 0.5s;
  
}

// https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered
a:hover .cardText {
  color: rgb(0, 160, 255, 0.5);
}


// ------ stylen der Studileih - Sharing is Caring Überschriften Section ---------
// durch das .section-title vor jeder klasse können wir sicherstellen, dass wir nicht durcheinanderkommen mit anderen h1, h2, ... (wir könnten natürlich auch individuelle classes benutzen, kp warum ich's jetzt hier so gemacht hab mit einer "super-class"...). 

.section-title img {
  width: 61px; 
  height: 20px; 
  margin: 0px auto 0 160px;     // margin rechts schiebt das img nach rechts
}     

.section-title h1 {
  font-size: 2.25rem; 
  font-weight: 400; 
  text-decoration: none solid rgb(0, 0, 0); 
  margin: -32px auto 0 0;
  line-height: 2.5rem;   // damit kann die h2 weiter nach unten geschoben werden, damit es auf einer Höhe mit dem img liegt.
}

.section-title h2 {
  font-size: 1.25rem; 
  margin: 7px auto 60px 0;
  position:relative; 
  top:-12px;         // damit kann h2 näher an die Linie nach oben geschoben werden (-10px relative zu der Position, wo es sonst aufgetaucht wär.)
}

.section-title hr { 
  // border: 1px solid black;
  width: 220px;
  text-align: left;
    padding:0px 0px;
    margin: 5px 0px;  // damit kann die Linie weiter nach unten vom h1 element geschoben werden
  border: 1.3px solid black;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .section-title {
    position:relative; 
    top:+18px;         // damit kann h2 näher an die Linie nach oben geschoben werden (-10px relative zu der Position, wo es sonst aufgetaucht wär.)
  }

 
  
}

// -------- ---------------------------------------------------------
/* -------------------------------- Products ------------------------- */

.products {
  padding: 4rem 0;
}

.products-center {
  width: 70vw;
  margin: 0 auto;
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  // justify-items: left;
}

.product {
  max-width: 354px;
}
.product-img {
  display: block;
  width: 100%;
 
  height: 12rem;
  transition: var(--mainTransition);
}

@media (max-width: 992px) {
  .dormProducts {
    margin-top: 30px
  }
}

@media (max-width: 409px) {
  .dormProducts {
    margin-top: 50px
  }
}

@media (max-width: 342px) {
  .dormProducts {
    margin-top: 80px
  }
}

@media (min-width: 779px) {
  .otherProducts {
    margin-top: 25px;
  }
}

@media (max-width: 779px) {
  .otherProducts {
    margin-top: 60px;
  }
}

@media (max-width: 319px) {
  .otherProducts {
    margin-top: 90px;
  }
}

// .img-container {
//   position: relative;
//   overflow: hidden;
// }
// .bag-btn {
//   position: absolute;
//   top: 70%;
//   right: 0;
//   background: var(--primaryColor);
//   border: none;
//   text-transform: uppercase;
//   padding: 0.5rem 0.75rem;
//   letter-spacing: var(--mainSpacing);
//   font-weight: bold;
//   transition: var(--mainTransition);
//   transform: translateX(101%);
//   cursor: pointer;
// }
// .bag-btn:hover {
//   color: var(--mainWhite);
// }
// .fa-shopping-cart {
//   margin-right: 0.5rem;
// }
// .img-container:hover .bag-btn {
//   transform: translateX(0);
// }

// .img-container:hover .product-img {
//   opacity: 0.5;
// }

// .product h3 {
//   text-transform: capitalize;
//   font-size: 1.1rem;
//   margin-top: 1rem;
//   letter-spacing: var(--mainSpacing);
//   text-align: center;
// }

// .product h4 {
//   margin-top: 0.7rem;
//   letter-spacing: var(--mainSpacing);
//   color: var(--primaryColor);
//   text-align: center;
// }

/* -------------------------------- End of Products ------------------------- */
img[src^="productImagesMap"] {
  border: 10px solid var(--mainBlack);
}

// .row {
//   border-bottom: 3px solid blue;
// }
// .col {
//   border-bottom: 2px dotted #000;
// }
// div { 
//   border: 1px solid green;
// }

// h1 {
//   border: 1px solid black;
// }

// section {
//   border: 1px solid black;
// }

// img { border: 1px solid black;}

