<!-- this is the upload photo menu on http://localhost:4200/upload-userPic -->
<label>
    <input type="file" id="fileName" accept="image/*" (change)="selectFile($event)" class="input-left" >  <!-- accept="image/*" makes the file chose menu pre select "Grafik-Dateien", instead of "Alle Dateien" and shows an alert message ("invalid filetype"), if a filetype that is not an image is uploaded (eg. pdf). But user can still accept the alert and then upload a pdf anyway, so we also need to check the uploaded filetype on the server side.-->
</label>
<br />
<button class="btn btn-success" (click)="uploadUserPic()">Upload new Photo</button>
<br/>
<br/>
<strong>{{ response }}</strong>
