


/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    // font-family:'Montserrat' !important;  //this doesnt work, it seems like it gets overwritten by bootstrap
    height: 100vh;
    // background-image: linear-gradient(45deg, rgb(246, 250, 227), #fcf6ec, #f5e1e1);
    // background-size: 800%;
    // // animation: bg-animation 20s infinite alternate; //alternate: the animation doesnt jump back and simply restart (which would be very noticable). instead it starts at the end in the opposite direction.
}
// animation for slow changing the background color (duration: 20sec) https://www.youtube.com/watch?v=f3mwKLXpOLk
// @keyframes bg-animation {
//     0% {
//         background-position: left top;}
//     100% {
//         background-position: right bottom;
//     }
// }

.images {
    height:200px;
    width: 200px;
    
}

.divider{
    width:1rem;
    height:1rem;
    display:inline-block;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;
   

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}
html, body { height: 100%; }
body { margin: 0; 
    //font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.bg {
  /* The image used */
  background-image: url("assets/images/Background-25prozentOpacity.png");  /* Change photo opacity: https://www.peko-step.com/en/tool/alphachannel_en.html
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.underline {
	position: relative;
}
.underline span {
  pointer-events: none;

}
.underline canvas {
  	pointer-events: auto;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: rgba(222, 222, 222, 0.1);*/
	/*z-index: -1;*/
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	cursor: pointer;
}

.userPic {
    border-radius: 50%;
  }
